body  {
   font-style:"Helvetica", sans-serif;
  text-align: center;
}
h1  {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.header{
  background-image: url(/Users/cp/Broadway/resources/images/the-flatiron-building.png);

}
.nav  {
  color: white;
  font-size: 18px;
}
