body  {
   font-style:"Helvetica", sans-serif;
  text-align: center;
}
h1  {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.header{
  background-image: url(/Users/cp/Broadway/resources/images/the-flatiron-building.png);

}
.nav  {
  color: white;
  font-size: 18px;
}

.process {
  font-size: 32px;
  font-weight: bold;

}
h2  {
  font-size: 23px
  font-weight: bold;
}
h3  {
  font-size: 14px;
  font-weight: bold;
}

.newyork  {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(images/the-flatiron-building.png)
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align:left;
}
